<div class="modal fade" id="filter-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-xs-9">
          <h4 class="modal-title">Filter options</h4>
          <div class="filter-selected"></div>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-primary">Submit</button>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="filter-options">
          <div class="col-xs-8 filter-tags">
            <input type="text" class="filter-search" placeholder="enter tag" />
            <div class="list-selectors">
              <span class="label label-default description">Lorem ipsum dolor sit amet</span>
              <span class="label label-primary description">verear salutatus intellegebat ea duo</span>
              <span class="label label-success description">mazim iudico aperiri te sit</span>
              <span class="label label-info description">Te pri error honestatis</span>
              <span class="label label-warning description">usu ad esse propriae</span>
              <span class="label label-danger description">vix et facer graeco</span>
              <span class="label label-default description">Nostro adolescens sit id</span>
              <span class="label label-primary description">verear salutatus intellegebat ea duo</span>
              <span class="label label-success description">mazim iudico aperiri te sit</span>
              <span class="label label-info description">Te pri error honestatis</span>
              <span class="label label-warning description">usu ad esse propriae</span>
              <span class="label label-danger description">vix et facer graeco</span>
            </div>
          </div>

          <div class="col-xs-4 filter-sources">
            <div class="list-selectors">
              <div class="checkbox">
            <label><input type="checkbox" value="">Viblo</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">TechBlog</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Tất cả</label>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
