{% load static %}
<div class="modal fade" id="filter-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-xs-9">
          <h4 class="modal-title">Filter options</h4>
          <div class="filter-selected"></div>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-primary filter-submit">Submit</button>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="filter-options">
          <div class="col-xs-8 filter-tags">
            <input type="text" class="filter-search" placeholder="enter tag" />
            <input type="hidden" class="filter-search-flag" value="0" />
            <div class="list-selectors">
              <img id="loading-img" src="{% static 'images/loading.gif' %}">
              {% for tag in all_tags %}
                <span class="label label-{{ tag.get_color_display }} description">{{ tag.name }}</span>
                <input type="hidden" value="{{ tag.hash_name }}">
              {% endfor %}
              <div class="clearfix"></div>
              <p class="description">...</p>
              <div class="result"></div>
            </div>
          </div>

          <div class="col-xs-4 filter-sources">
            <div class="list-selectors">
              {% for source in all_sources %}
                <div class="checkbox">
                  <label><input type="checkbox" class="source_id" value="{{ source.id }}" checked>{{ source.get_name_display }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
