{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
  <input type="hidden" class="last_request" value="10">
  <div class="container list-article">
    <div class="clearfix"></div>
    <div class="col-xs-12 article-wrapper">
      {% for post in post_list %}
        <article>
          <div class="img-wrapper"><img src="{% static post.source_info.image %}" alt="" /></div>
          <div class="article-head">
            <a href="{% url 'mysite:clip_post' post.hash_title %}">
              <i class="clip clipjs fa fa-paperclip"></i>
            </a>
            <a href="{{ post.link}}"><span class="title">{{ post.title }}</span></a>
          </div>
          <div class="tags">
            {% for tag in post.tags.all %}
              <a href="{% url 'mysite:filter_total' tag.hash_name source_ids %}">
                <span class="label label-{{ tag.get_color_display }}">{{ tag.name }}</span>
              </a>
            {% endfor %}
          </div>
          <div class="clearfix"></div>
          <div class="summary">
            <p>{{ post.summary }}</p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>

  <div class="my-button red" id="top-button" onclick="topFunction()">
    <div class="circle"></div>
    <div class="icon">Up</div>
  </div>
{% endblock %}
