{% extends 'mysite/base.html' %}

{% block login %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form action="{% url 'mysite:login' %}" method="POST" class="login100-form validate-form">
        {% csrf_token %}
        <span class="login100-form-title p-b-26">
          Welcome to<br>My blog
        </span>
        <div class="wrap-input100 validate-input" data-validate = "Valid username is: myname">
          <input class="input100 username" type="text" name="username">
          <span class="focus-input100" data-placeholder="Username"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100 password" type="password" name="password">
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn submit-btn">
              Login
            </button>
          </div>
        </div>

        <div class="text-center p-t-115">
          <span class="txt1">
            Don’t have an account?
          </span>

          <a class="txt2" href="{% url 'mysite:registrator' %}">
            Sign Up
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
{{ errors }}
{% if errors %}
  <input type="hidden" class="errors" value="{{ errors }}">
{% endif %}
{% endblock %}
