{% extends 'mysite/base.html' %}

{% block login %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form action="{% url 'mysite:registrator' %}" method="POST" class="login100-form validate-form">
        {% csrf_token %}
        <span class="login100-form-title p-b-26">
          Register
        </span>
        <div class="wrap-input100 validate-input" data-validate = "Username is invalid">
          <input class="input100 username" type="text" name="username">
          <span class="focus-input100" data-placeholder="Username"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
            <input class="input100 username" type="text" name="email">
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100 password" type="password" name="password">
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password confirmation is not match">
          <input class="input100 password" type="password" name="password_confirmation">
          <span class="focus-input100" data-placeholder="Password confirmation"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn submit-btn">
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
{{ errors }}
{% if errors %}
  <input type="hidden" class="errors" value="{{ errors }}">
{% endif %}
{% endblock %}
